
@import url('https://fonts.googleapis.com/css?family=Lato');


.textcolor {
  color : #212121 ;
  font-family: 'Lato', sans-serif ;
}

.textprimary {
color: #EEEEEE ;
}

.is-color{
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: whitesmoke;
}

.navtext {
  font-size: 25px;
  font-weight: 800;
}

.titletext {
  padding-top: 5%;
  font-weight: 900;
}

.emojitype{
margin-bottom:  10px !important;
height: auto;
width: 50px !important;
}

.marbt{
margin-left: 15px;
margin-right: 15px;
}

.heroimgmar {
padding-top: 8%;
}

.rounded {
  border-radius: 7px;
}

.lastim{
  z-index: -99;
}

.listmargin {

margin : 5px !important ;

}

.isgrad1 {

background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.footmarg {

  margin-top: 70px;
}

/*
Master CSS File for Portfolio
|c| Vignesh Hari
*/
